name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality:
    name: Quality Checks
    runs-on: macos-15
    defaults:
      run:
        working-directory: packages/home_widget
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v1
        with:
          channel: stable
          cache: true
      - uses: bluefireteam/melos-action@v3
      - name: Install Formatters
        run: brew install swift-format ktfmt
      - name: Analyze
        run: melos analyze
      - name: Format
        run: melos format:all
      - name: Publishability
        run: flutter pub publish --dry-run

