name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
    paths:
      - 'packages/home_widget/**'
      - '.github/workflows/test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests
    runs-on: macos-15
    defaults:
      run:
        working-directory: packages/home_widget
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
      - uses: bluefireteam/melos-action@v3
      - name: Test
        run: flutter test --coverage
      - name: Archive Golden Failures
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Golden failures
          retention-days: 2
          path: |
            **/test/**/failures/**/*.*
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage/lcov.info

